body {
    font-family: "Georgia", sans-serif;
    background-color: #768076;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e7ebd4;
    background-image: url("dreamstimemaximum_94730830.jpg");
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e7ebd4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.budget-form h2 {
    color: #768076;
}

.input-group {
     margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #965649;
    border-radius: 3px;
}