<form action="/sign-up" method="post">
    <div>
        <legend> Registration </legend>
            <% { %> 
                Name: <input type="text" name="name" placeholder="Name"  /><br><br>
                Email:     <input type="email" name="email" placeholder="Email" /><br><br>
                Password:  <input type="password" name="password"  placeholder="Password"/><br><br>
                ReEnterPassword:  <input type="password" name="reenterpassword" placeholder="Re-enter password"/><br><br>
                Income:  <input type="text" name="income" placeholder="Income"/><br><br>
                Expenses: <input type="text" name="expenses" placeholder="Expenses" /><br><br>
                Net: <input type="text" name="net" placeholder="Net" /><br><br>
                Budget: <input type="text" name="text" placeholder="Budget"
            <% } %>
    </div>
    <input type="submit" value="Registration"/><br><br>
</form>