<form action="/log-in" method="post">
    <div>
        <legend> Registration </legend>
            <% { %> 
                Email:     <input type="email" name="email" placeholder="Email" /><br><br>
                Password:  <input type="password" name="password"  placeholder="Password"/><br><br>\
            <% } %>
    </div>
    <input type="submit" value="Registration"/><br><br>
</form>