<header class="header">
    <div class="header-inner">
        <p class="header">Your Budgeting Journey starts here. . . </p> 
    </div>

</header>

</body>
<body>
    <link rel="stylesheet" href="/sign-up.css">
    <form action="/sign-up" method="post">
        <div>
            <legend class="head"> Registration </legend>
            <% { %> 
                Name: <input type="text" name="Name" placeholder="Name" /><br><br>
                Email:     <input type="email" name="Email" placeholder="Email"  /><br><br>
                Password:  <input type="password" name="Password"  placeholder="Password" /><br><br>
                ReEnterPassword:  <input type="password" name="ReEnterPassword" placeholder="Re-enter password"  /><br><br>
                <% } %>
            </div>
            <input type="submit" value="Sign Up"/><br><br>
            <% if (errorMessage) { %>
                <p class="error-message"><%= errorMessage %></p>
            <% } %>
        </form>
        <div>Have an account? <a href ="/login">Log In</a></div>
</body>